# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=file:./db.sqlite

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<GENERATE: openssl rand -base64 32>
# Next Auth Google Provider ## test creds @see: https://tinyurl.com/2qclqg98
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

##################################################################################
#################################### env.test ####################################
##################################################################################

#cypress test env -- see ./cypress.config.ts

# https://next-auth.js.org/configuration/options#example
COOKIE_NAME=next-auth.session-token

####### oauth account mock #######
PROVIDER_ACCOUNT_ID=<RANDOM_STRING>
PROVIDER_ACCESS_TOKEN=<JWT>
PROVIDER_SCOPE='openid https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile' # @see: https://developers.google.com/identity#google-sign-in
PROVIDER_ID_TOKEN=<JWT>,

######## Credentials Test user Creds #######
TEST_USER=test@account.com
TEST_PW=test
